/***************Contatcs*************/

.contacts {
	&__content {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		background-color: #d0bdf499;
		.section__line {
			background-color: #e5eaf5;
		}
	}
	&__title {
		font-size: 75px;
		// padding: 40px 0;
		.title-wrapper {
			left: 84px;
			background-color: #e5eaf5;
			// padding: 40px 0;
			h3 {
				transform: translate(-84px, 0);
				color: #d0bdf4;
			}
		}
	}
	// .colors {
	// 	color: #a0d2eb;
	// 	color: #e5eaf5;
	// 	color: #d0bdf4;
	// 	color: #8458b3;
	// 	color: #494d5f;
	// 	color: #1a3a3a;
	// }
	&__scene {
		.picture-mask {
			background-color: #e5eaf540;
		}
	}

	&__form {
		width: 100%;
		padding-top: 60px;
		padding-right: 31vw;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}

	&__input,
	&__textarea {
		max-width: 400px;
		width: 100%;
		padding: 15px 20px;
		margin: 7px 0;
		color: #fff;
		font-family: sans-serif;
		font-weight: 400;
		font-size: 18px;
		line-height: 24px;
		background-color: transparent;
		// border-left: 3px solid #e5eaf5;
		// border-bottom: 3px solid #e5eaf5;
		border: 2px solid #e5eaf5;
		// border-bottom-left-radius: 8px;
		cursor: default;
		&::placeholder {
			color: #ffffff70;
		}
	}

	&__input {
	}

	&__textarea {
		resize: none;
		height: 150px;
	}

	&__btn {
		position: relative;
		display: block;
		overflow: hidden;
		padding: 18px 10px;
		max-width: 210px;
		width: 100%;
		margin: 1rem 0;
		// text-transform: uppercase;
		border: 2px solid #e5eaf5;
		color: #e5eaf5;
		background-color: transparent;
		transition: all 0.2s ease-in-out;
		font-family: sans-serif;
		font-weight: 400;
		font-size: 18px;
		span {
			position: relative;
			z-index: 2;
		}
		&:after,
		&:before {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 1;
			transition: all 0.3s ease-in-out;
		}
		&:after {
			left: -50px;
			border-left: 50px solid transparent;
			border-top: 80px solid #e5eaf5;
			transform: translateX(100%);
		}
		&:before {
			right: -50px;
			border-right: 50px solid transparent;
			border-bottom: 80px solid#e5eaf5;
			transform: translateX(-100%);
		}
		&:hover {
			color: #d0bdf4;
			// color: #8458b3;
			&:after {
				transform: translateX(49%);
			}
			&:before {
				transform: translateX(-49%);
			}
		}
	}
}
