/************Glitch*************/
// title
.glitch-title {
	position: relative;
	padding: 30px;
	background-color: black;
	&:after,
	&:before {
		padding: 30px;
		color: white;
		content: "NovaViTech";
		position: absolute;
		width: 100%;
		height: 100%;
		background: black;
		overflow: hidden;
		top: 0;
	}
	&:before {
		left: 3px;
		text-shadow: -2px 0 red;
		animation-name: glitch-animation-1;
		animation-duration: 2s;
		animation-timing-function: linear;
		animation-delay: 0s;
		animation-iteration-count: infinite;
		animation-direction: reverse-alternate;
	}
	&:after {
		left: -3px;
		text-shadow: -2px 0 blue;
		animation-name: glitch-animation-2;
		animation-duration: 2s;
		animation-timing-function: linear;
		animation-delay: 0s;
		animation-iteration-count: infinite;
		animation-direction: reverse-alternate;
	}
}

@keyframes glitch-animation-1 {
	0% {
		clip: rect(random(150) + px, 350px, random(150) + px, 30px);
	}
	5% {
		clip: rect(random(150) + px, 350px, random(150) + px, 30px);
	}
	10% {
		clip: rect(random(150) + px, 350px, random(150) + px, 30px);
	}
	15% {
		clip: rect(random(150) + px, 350px, random(150) + px, 30px);
	}
	20% {
		clip: rect(random(150) + px, 350px, random(150) + px, 30px);
	}
	25% {
		clip: rect(random(150) + px, 350px, random(150) + px, 30px);
	}
	30% {
		clip: rect(random(150) + px, 350px, random(150) + px, 30px);
	}
	35% {
		clip: rect(random(150) + px, 350px, random(150) + px, 30px);
	}
	40% {
		clip: rect(random(150) + px, 350px, random(150) + px, 30px);
	}
	45% {
		clip: rect(random(150) + px, 350px, random(150) + px, 30px);
	}
	50% {
		clip: rect(random(150) + px, 350px, random(150) + px, 30px);
	}
	55% {
		clip: rect(random(150) + px, 350px, random(150) + px, 30px);
	}
	60% {
		clip: rect(random(150) + px, 350px, random(150) + px, 30px);
	}
	65% {
		clip: rect(random(150) + px, 350px, random(150) + px, 30px);
	}
	70% {
		clip: rect(random(150) + px, 350px, random(150) + px, 30px);
	}
	75% {
		clip: rect(random(150) + px, 350px, random(150) + px, 30px);
	}
	80% {
		clip: rect(random(150) + px, 350px, random(150) + px, 30px);
	}
	85% {
		clip: rect(random(150) + px, 350px, random(150) + px, 30px);
	}
	90% {
		clip: rect(random(150) + px, 350px, random(150) + px, 30px);
	}
	95% {
		clip: rect(random(150) + px, 350px, random(150) + px, 30px);
	}
	100% {
		clip: rect(random(150) + px, 350px, random(150) + px, 30px);
	}
}
@keyframes glitch-animation-2 {
	0% {
		clip: rect(random(150) + px, 350px, random(150) + px, 30px);
	}
	5% {
		clip: rect(random(150) + px, 350px, random(150) + px, 30px);
	}
	10% {
		clip: rect(random(150) + px, 350px, random(150) + px, 30px);
	}
	15% {
		clip: rect(random(150) + px, 350px, random(150) + px, 30px);
	}
	20% {
		clip: rect(random(150) + px, 350px, random(150) + px, 30px);
	}
	25% {
		clip: rect(random(150) + px, 350px, random(150) + px, 30px);
	}
	30% {
		clip: rect(random(150) + px, 350px, random(150) + px, 30px);
	}
	35% {
		clip: rect(random(150) + px, 350px, random(150) + px, 30px);
	}
	40% {
		clip: rect(random(150) + px, 350px, random(150) + px, 30px);
	}
	45% {
		clip: rect(random(150) + px, 350px, random(150) + px, 30px);
	}
	50% {
		clip: rect(random(150) + px, 350px, random(150) + px, 30px);
	}
	55% {
		clip: rect(random(150) + px, 350px, random(150) + px, 30px);
	}
	60% {
		clip: rect(random(150) + px, 350px, random(150) + px, 30px);
	}
	65% {
		clip: rect(random(150) + px, 350px, random(150) + px, 30px);
	}
	70% {
		clip: rect(random(150) + px, 350px, random(150) + px, 30px);
	}
	75% {
		clip: rect(random(150) + px, 350px, random(150) + px, 30px);
	}
	80% {
		clip: rect(random(150) + px, 350px, random(150) + px, 30px);
	}
	85% {
		clip: rect(random(150) + px, 350px, random(150) + px, 30px);
	}
	90% {
		clip: rect(random(150) + px, 350px, random(150) + px, 30px);
	}
	95% {
		clip: rect(random(150) + px, 350px, random(150) + px, 30px);
	}
	100% {
		clip: rect(random(150) + px, 350px, random(150) + px, 30px);
	}
}

// logo

.main-logo {
	position: relative;
	p {
		font-family: "Press Start 2P";
		font-weight: 400;
		color: #fff;
		letter-spacing: 2px;
		text-align: center;
		animation: glitch1 2.5s infinite;
		position: absolute;
		&:nth-child(2) {
			color: #67f3da;
			animation: glitch2 2.5s infinite;
		}
		&:nth-child(3) {
			color: #8458b3;
			animation: glitch3 2.5s infinite;
		}
	}
}

@keyframes glitch1 {
	0% {
		transform: none;
		opacity: 1;
	}
	7% {
		transform: skew(-0.5deg, -0.9deg);
		opacity: 0.75;
	}
	10% {
		transform: none;
		opacity: 1;
	}
	27% {
		transform: none;
		opacity: 1;
	}
	30% {
		transform: skew(0.8deg, -0.1deg);
		opacity: 0.75;
	}
	35% {
		transform: none;
		opacity: 1;
	}
	52% {
		transform: none;
		opacity: 1;
	}
	55% {
		transform: skew(-1deg, 0.2deg);
		opacity: 0.75;
	}
	50% {
		transform: none;
		opacity: 1;
	}
	72% {
		transform: none;
		opacity: 1;
	}
	75% {
		transform: skew(0.4deg, 1deg);
		opacity: 0.75;
	}
	80% {
		transform: none;
		opacity: 1;
	}
	100% {
		transform: none;
		opacity: 1;
	}
}

@keyframes glitch2 {
	0% {
		transform: none;
		opacity: 0.25;
	}
	7% {
		transform: translate(-2px, -3px);
		opacity: 0.5;
	}
	10% {
		transform: none;
		opacity: 0.25;
	}
	27% {
		transform: none;
		opacity: 0.25;
	}
	30% {
		transform: translate(-5px, -2px);
		opacity: 0.5;
	}
	35% {
		transform: none;
		opacity: 0.25;
	}
	52% {
		transform: none;
		opacity: 0.25;
	}
	55% {
		transform: translate(-5px, -1px);
		opacity: 0.5;
	}
	50% {
		transform: none;
		opacity: 0.25;
	}
	72% {
		transform: none;
		opacity: 0.25;
	}
	75% {
		transform: translate(-2px, -6px);
		opacity: 0.5;
	}
	80% {
		transform: none;
		opacity: 0.25;
	}
	100% {
		transform: none;
		opacity: 0.25;
	}
}

@keyframes glitch3 {
	0% {
		transform: none;
		opacity: 0.25;
	}
	7% {
		transform: translate(2px, 3px);
		opacity: 0.5;
	}
	10% {
		transform: none;
		opacity: 0.25;
	}
	27% {
		transform: none;
		opacity: 0.25;
	}
	30% {
		transform: translate(5px, 2px);
		opacity: 0.5;
	}
	35% {
		transform: none;
		opacity: 0.25;
	}
	52% {
		transform: none;
		opacity: 0.25;
	}
	55% {
		transform: translate(5px, 1px);
		opacity: 0.5;
	}
	50% {
		transform: none;
		opacity: 0.25;
	}
	72% {
		transform: none;
		opacity: 0.25;
	}
	75% {
		transform: translate(2px, 6px);
		opacity: 0.5;
	}
	80% {
		transform: none;
		opacity: 0.25;
	}
	100% {
		transform: none;
		opacity: 0.25;
	}
}

// button

.glitch-btn {
	position: relative;
	display: inline-block;
	color: #000;
	letter-spacing: 0.02em;
	text-decoration: none;
	z-index: 1;
	font-family: sans-serif;
	text-transform: uppercase;
	font-size: 20px;

	&:before,
	&:after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	&:before {
		background-color: #00ffff;
		z-index: -1;
	}

	&:after {
		background-color: #ff00ff;
		z-index: -2;
	}
	.button-text {
		display: block;
		height: 100%;
		background-color: #fff;
		padding: 15px 25px;
	}

	&:hover {
		.button-text {
			animation: glitchy 0.3s ease 1;
		}

		&:before {
			animation: glitchy 0.3s ease 0.3s infinite;
		}

		&:after {
			animation: glitchy 0.3s ease infinite reverse;
		}
	}
}

.glitch-text {
	position: relative;
	display: inline-block;
	font-size: 45px;
	text-decoration: none;
	color: #fff;
	z-index: 1;

	&:before,
	&:after {
		content: attr(data-content);
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
	&:before {
		color: #00ffff;
		z-index: -1;
	}

	&:after {
		color: #ff00ff;
		z-index: -2;
	}

	&:hover {
		&:before {
			animation: glitchy 0.3s ease 0.3s infinite;
		}

		&:after {
			animation: glitchy 0.3s ease infinite reverse;
		}
	}
}

.glitch-text-infinite {
	&:before {
		animation: glitchy 0.3s ease 0.3s infinite;
	}

	&:after {
		animation: glitchy 0.3s ease infinite reverse;
	}
}

@keyframes glitchy {
	0% {
		transform: translate(-2px, 2px);
	}
	25% {
		transform: translate(-2px, -2px);
	}
	50% {
		transform: translate(2px, 2px);
	}
	75% {
		transform: translate(2px, -2px);
	}
	100% {
		transform: translate(-2px, 2px);
	}
}
