:root {
	--title-sise: 85px;
}
.section {
	width: 100%;
	min-height: 100vh;
	position: relative;
	z-index: 1;
	&__bg {
		position: absolute;
		z-index: 1;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		border-radius: 50px;
	}
	&__body {
		position: relative;
		z-index: 2;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		padding-top: 8vh;
		padding-bottom: 8vh;
	}
	&__title {
		width: 100%;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		font-family: sans-serif;
		font-size: var(--title-sise);
		font-weight: 900;
		text-transform: uppercase;
		padding: 50px 0;
		position: relative;
		color: #fff;
		& > h3 {
			font-weight: 400;
		}
	}
}
.title-wrapper {
	position: absolute;
	top: 0;
	left: 111px;
	background-color: #8458b3;
	padding: 50px 0;
	max-width: 200px;
	width: 100%;
	overflow: hidden;
	h3 {
		white-space: nowrap;
		color: #494d5f;
		transform: translate(-111px, 0);
		font-weight: 400;
	}
}

@keyframes changeColor {
	0% {
		background-color: #1b95d78d;
	}
	10% {
		background-color: #2a02b399;
	}
	20% {
		background-color: #29106989;
	}
	30% {
		background-color: #691017b3;
	}
	40% {
		background-color: #990411ab;
	}
	50% {
		background-color: #992e04ab;
	}
	60% {
		background-color: #625e00ab;
	}
	70% {
		background-color: #005205ab;
	}
	80% {
		background-color: #04996fab;
	}
	90% {
		background-color: #93007584;
	}
	95% {
		background-color: #b300b389;
	}
	100% {
		background-color: #1b95d78d;
	}
}
